{% extends 'base.html' %}


{% block content %}
	<nav class="nav fixed-top">
		<div class="container">
			<div class="row items-center">
				<div class="col">
					<a class="book__back" href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i> Go To Home Page</a>
				</div>
				<div class="col">
					<div class="logo">
						<a href="{% url 'home' %}"><span class="logo__span">r</span>Books</a>
					</div>
				</div>
				<div class="col">

				</div>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<br>

	<!-- Main Content -->

	<div class="container">
		<div class="row">
			<div class="col col-img">
				<img class="book__image" src="{{ book.img }}">
			</div>

			<div class="col">
				<h2 class="book__name">{{ book.name }}</h2>
				<h5 class="book-page__price">Price: ${{ book.price }}</h5>
				<h5 class="">{{ book.category }}</h5>
				<a href="" class="btn btn-primary w-100"><i class="fa-solid fa-cart-shopping"></i> Buy</a>
			</div>
		</div>

		<hr>

		<h2>Book Description</h2>

		<p>{{ book.text }}</p>
	</div>

	<!-- Footer -->

	<div class="container">
		<hr>
		<footer>
			<h5 class="text-center">rBook&copy 2023-2023</h5>
		</footer>
	</div>

{% endblock %}